@import "tailwindcss";

@font-face {
  font-family: 'canope';
  src: url('./assets/fonts/canopee.ttf') format('woff2');
  font-weight: 400;
  font-style: medium;
}

@font-face {
  font-family: 'smarkan';
  src: url('./assets/fonts/Samarkan Normal.ttf') format('woff2');
  font-weight: 400;
  font-style: medium;
}